<div class="card my-5">
  <h3 class="card-title text-center">Bewerk commentaar</h3>
  <div [hidden]="!submitted">
    <h4>Commentaar is aangepast</h4>
  </div>
  <form class="edit_comment_form" [formGroup]="editCommentForm" #savedComment (ngSubmit)="editComment(editCommentForm.value)">
    <fieldset>
      <label for="searchterm">zoekterm:</label>
      <input type="text"  formControlName="comment_searchterm"  id="searchterm" name="searchterm" >
    </fieldset>
    <fieldset>
      <label for="replacement">vervanging:</label>
      <input type="text"  formControlName="comment_replacement"  id="replacement" name="replacement" >
    </fieldset>
    <fieldset>
      <label for="category" class="col-sm-2 col-form-label">Categorie:</label>
        <select id="category" class="form-control" formControlName="comment_category">
          <option value="0">-</option>
          <option *ngFor="let cat of categories" value="{{cat.id}}">{{ cat.label }}</option>
        </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Bewaar wijziging</button>
    <button type="button" class="btn btn-default">Annuleren</button>
  </form>
</div>
