<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Filter</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group-row">
            <label for="category">Categorie</label>
            <select class="selectBox" id="category" [(ngModel)]="category_id" (ngModelChange)="changeCategory($event)">
              <option value="0">-</option>
              <option *ngFor="let cat of categories" value="{{cat.id}}">{{ cat.label }}</option>
            </select>
          </div>
          <div class="form-group-row">
            <label for="year">Jaartal</label>
            <select class="selectBox" id="year"[(ngModel)]="year" (ngModelChange)="changeYear($event)">
              <option value="0">-</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Details</h3>
          </div>
        </div>
        <div class="panel-body">
          <div>
            <table width="100%">
              <tr>
                <td width="50%">uitgegeven = {{ totalNegative| number:'1.2-2':'be-BE' }}€</td>
                <td>gemiddeld = {{ avgNegative| number:'1.2-2':'be-BE' }}€ per maand</td>
              </tr>
              <tr>
                <td width="50%">ontvangen = {{ totalPositive| number:'1.2-2':'be-BE' }}€</td>
                <td>gemiddeld = {{ avgPositive| number:'1.2-2':'be-BE' }}€ per maand</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Grafiek van de categorie: {{ category_label }} </h3>
          </div>
        </div>
        <div class="panel-body">
          <app-transaction-per-category-graph
            [transactions]="filteredTransactions">
          </app-transaction-per-category-graph>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Transacties in de categorie: {{ category_label }}</h3>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <app-transaction-list [importedFilteredTransactions]="importedFilteredTransactions"></app-transaction-list>
        </div>
      </div>
    </div>
  </div>
</div>
