<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar">
        <span class="navbar-brand h1">Ons budget</span>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" routerLink="/savings">Spaarpot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transactions">Transacties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/import">Invoer</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuratie
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/categories">Categorieën</a></li>
              <li><a class="dropdown-item" routerLink="/comments">Commentaar</a></li>
            </ul>
        </ul>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

