<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar">
        <span class="navbar-brand h1">Ons budget</span>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" routerLink="/transactions">Transacties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categorieën</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comments">Commentaar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/import">Invoer</a>
          </li>
        </ul>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

