<div class="card my-5">
  <div class="card-body">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-8">
            <div class="card-title text-center">
              <h3>Overzicht commentaren</h3>
            </div>
          </div>
          <div class="col-4">
            <div class ="card-button">
              <a (click)="openAddCommentForm()" class="btn"><i class="fa fa-plus-circle"></i> Voeg nieuwe commentaar toe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Zoekterm</th>
              <th>Commentaar</th>
              <th>Categorie</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let com of comments | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{ com.id }}</td>
            <td>{{ com.searchterm }}</td>
            <td>{{ com.replacement }}</td>
            <td>{{ com.category.label }}</td>
            <td>
              <ul class="action-list">
                <li><a (click)="openEditCommentForm(com)" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                <li><a (click)="deleteComment(com.id)" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6">
            toon <b>5</b> van de <b>{{ numberOfComments }}</b> items
          </div>
          <div class="col-sm-6">
            <pagination-controls class="pagination"
                                 (pageChange)="p = $event"
                                 previousLabel=""
                                 nextLabel="">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
