<div class="card my-5">
  <h3 class="card-title text-center">Maak nieuwe commentaar</h3>
  <div [hidden]="!submitted">
    <h4>Commentaar is toegevoegd</h4>
  </div>
  <form class="add_comment_form" [formGroup]="addCommentForm" #savedComment (ngSubmit)="saveComment(savedcomment)">
    <fieldset>
      <label for="searchterm">Zoekterm:</label>
      <input type="text"  formControlName="comment_searchterm"  id="searchterm" name="searchterm">
    </fieldset>
    <fieldset>
      <label for="replacement">Commentaar:</label>
      <input type="text" formControlName="comment_replacement"  id="replacement" name="replacement">
    </fieldset>
    <fieldset>
      <label for="category">Categorie</label>
      <select id="category" formControlName="comment_category" >
        <option value="0">-</option>
        <option *ngFor="let cat of categories" value="{{cat.id}}">{{ cat.label }}</option>
      </select>
    </fieldset>
    <button type="submit">Bewaar commentaar</button>
  </form>
</div>
