<div class="card my-5">
  <div class="card-body">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-8">
            <div class="card-title text-center">
              <h3>Overzicht categorieën</h3>
            </div>
          </div>
          <div class="col-4">
            <div class ="card-button">
              <a (click)="openAddCategoryForm()" class="btn"><i class="fa fa-plus-circle"></i> Maak een nieuwe categorie</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body table-responsive">
        <table class = "table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Label</th>
              <th>Vaste Kost</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categories | paginate: { itemsPerPage: 5, currentPage: p }">
              <td><i class="fa {{cat.icon}}" ></i></td>
              <td>{{ cat.label }}</td>
              <td>
                <i [ngClass]="{'fa fa-check':cat.fixedcost === true}"></i>
              </td>
              <td>
                <ul class="action-list">
                  <li><a (click)="openEditCategoryForm(cat)" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                  <li><a (click)="deleteCategory(cat.id)" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6">
            toon <b>5</b> van de <b>{{ numberOfcategories }}</b> items
          </div>
          <div class="col-sm-6">
            <pagination-controls class="pagination"
                                 (pageChange)="p = $event"
                                 previousLabel=""
                                 nextLabel="">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
