.panel{
  border: solid 2px #7d97a5;
  border-radius: 12px;
  margin: 10px;
}

.panel .panel-heading{
  background: #7d97a5;
  color: #f5f7f8;
  padding: 6px;
  border-radius: 8px 8px 0 0;
  height: 80px;
}

.panel .panel-heading h3 {
  font-size: 20px;
  font-weight: bold;
}

.panel-heading .btn{
  color: #f5f7f8;
  background-color: #3a4b53;
  font-size: 14px;
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.panel-heading .card-button {
  float: right;
}

.panel .panel-heading .btn:hover{
  box-shadow: 0 0 10px #3a4b53;
}

.panel .panel-body{
  padding: 0;
}

.panel .panel-body .table thead tr th{
  color: #f5f7f8;
  background: #303e45;
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  border-bottom: none;
}

.panel .panel-body .table tbody tr td{
  color: #555;
  background: #f5f7f8;
  font-size: 15px;
  font-weight: 500;
  padding: 13px;
  vertical-align: middle;
}
.panel .panel-body .table tbody tr:nth-child(odd) td {
  background: #f5f7f8;
}
.panel .panel-body .table tbody .action-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li {
  display: inline-block;
  margin: 5px;
}

.panel .panel-body .table tbody .action-list li a{
  color: #f5f7f8;
  background-color: #3a4b53;
  font-size: 13px;
  line-height: 28px;
  padding: 0;
  height: 28px;
  width: 28px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover {
  box-shadow: 0 0 10px #3a4b53;
}

.panel .panel-footer {
  color: #f5f7f8;
  background: #7d97a5;
  font-size: 17px;
  line-height: 33px;
  padding: 25px 15px;
  border-radius: 0 0 8px 8px;
}

.pagination /deep/ .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #7d97a5;
  color: #555 !important;
  cursor: default;
}

.pagination /deep/ .ngx-pagination a:hover {
  padding: 0.1875rem 0.625rem;
  background: #7d97a5;
  color: #555 !important;
  cursor: default;
}
