<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Filter</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group-row">
            <label for="year">Jaartal</label>
            <select class="selectBox" id="year"[(ngModel)]="year" (ngModelChange)="changeYear($event)">
              <option value="0">-</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Grafiek</h3>
          </div>
        </div>
        <div class="panel-body">
          <app-transaction-per-year-graph [transactions]="filteredTransactions"></app-transaction-per-year-graph>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Transacties van {{ year }}</h3>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <app-transaction-list [importedFilteredTransactions]="importedFilteredTransactions"></app-transaction-list>
        </div>
      </div>
    </div>
  </div>
</div>
