<div class="modal-header">
  <div class="modal-header-left">
    <h3>Categorie bewerken</h3>
    <p>{{ category.label }}</p>
  </div>
  <div class="modal-header-right">
    <i class="fa {{category.icon}}" ></i>
  </div>
</div>

<div class="modal-body">
  <div class="form-group">
    <label for="icon" class="form-label">Icoon:</label>
    <input type="text" class="form-control" id="icon" name="icon" [(ngModel)]="category.icon">
  </div>
  <div class="form-group">
    <label for="label" class="form-label">Categorie:</label>
    <input type="text" class="form-control" id="label" name="label" [(ngModel)]="category.label" required>
    <div [hidden]="category.label" class="alert alert-danger">
      Een naam voor een categorie is verplicht!
    </div>
  </div>
  <div class="form-group">
      <input type="checkbox" id='fixedCost' [(ngModel)]="category.fixedcost"/>
      <label for='fixedCost' class="form-label-checkbox" > Vaste kost</label>
  </div>
  <div class="form-group">
    <input type="checkbox" id='inDetails' [(ngModel)]="category.indetails"/>
    <label for='inDetails' class="form-label-checkbox" > Opnemen in details</label>
  </div>
</div>
<div class="modal-budget-footer">
  <a (click)="closeAndSave()" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i> Bewaar</a>
  <a (click)="activeModal.dismiss('Cross click')" class="btn btn-sm btn-primary"><i class="fa fa-times-circle "></i> Annuleren</a>
</div>

