<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Filter</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group-row">
            <label for="month" class="col-sm-4 col-form-label">Maand</label>
            <select class="selectBox" id="month"[(ngModel)]="month" (ngModelChange)="changeMonth($event)">
              <option value="01">januari</option>
              <option value="02">februari</option>
              <option value="03">maart</option>
              <option value="04">april</option>
              <option value="05">mei</option>
              <option value="06">juni</option>
              <option value="07">juli</option>
              <option value="08">augustus</option>
              <option value="09">september</option>
              <option value="10">oktober</option>
              <option value="11">november</option>
              <option value="12">december</option>
            </select>
          </div>
          <div class="form-group-row">
            <label for="year">Jaartal</label>
            <select disabled={{yearDisabled}} class="selectBox" id="year"[(ngModel)]="year" (ngModelChange)="changeYear($event)">
              <option value="0">alle jaren</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Details</h3>
          </div>
        </div>
        <div class="panel-body">
          <div>
            <table class="detailsTable">
              <tr>
                <td>uitgegeven = {{ txPerMonthDetails.totalNegative | number:'1.2-2':'be-BE' }}€</td>
                <td>vaste kosten = {{ txPerMonthDetails.fixedCost | number:'1.2-2':'be-BE' }}€</td>
              </tr>
              <tr>
                <td>ontvangen = {{ txPerMonthDetails.totalPositive | number:'1.2-2':'be-BE' }}€</td>
                <td></td>
              </tr>
              <tr>
                <td>rest saldo = {{ txPerMonthDetails.restSaldo | number:'1.2-2':'be-BE' }}€</td>
                <td>status = <i class=" {{ txPerMonthDetails.currentMonthSaldoStatus }} "></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Grafiek van {{ txPerMonthDetails.formattedMonth }}</h3>
          </div>
        </div>
        <div class="panel-body">
          <app-transaction-per-month-graph
            [details]="txPerMonthDetails.groups">
          </app-transaction-per-month-graph>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <h3 class="card-title text-center">Transacties van {{ txPerMonthDetails.formattedMonth }}</h3>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <app-transaction-list [details]="txPerMonthDetails.groups"> </app-transaction-list>
        </div>
      </div>
    </div>
  </div>
</div>
