<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Categorie</th>
    <th>Verbruikt budget</th>
    <th>Resterend budget</th>
    <th>Limiet</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let catBudget of categoryBudgets ">
      <td [ngStyle]="{ 'background-color': catBudget.stateColor}">{{ catBudget.categoryLabel }}</td>
      <td [ngStyle]="{ 'background-color': catBudget.stateColor}">{{ catBudget.total | number:'1.2-2':'be-BE'}}€</td>
      <td [ngStyle]="{ 'background-color': catBudget.stateColor}">{{ catBudget.saldo | number:'1.2-2':'be-BE'}}€</td>
      <td [ngStyle]="{ 'background-color': catBudget.stateColor}">{{ catBudget.limit | number:'1.2-2':'be-BE'}}€</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Totaal</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
