<div class="card my-5">
  <h3 class="card-title text-center">Maak nieuwe categorie</h3>
  <div [hidden]="!submitted">
    <h4>Categorie is toegevoegd</h4>
  </div>
  <form class="add_categorie_form" [formGroup]="addCategoryForm" #savedCategory (ngSubmit)="saveCategory()">
    <fieldset>
      <label for="label">Categorie:</label>
      <input type="text"  formControlName="category_label"  id="label" name="label">
    </fieldset>
    <button type="submit" class="btn btn-default">Bewaar categorie</button>
    <button type="button" class="btn btn-default">Annuleren</button>
  </form>
</div>
