<div class="card my-5">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <h3 class="card-title text-center">Filter voor details</h3>
              </div>
            </div>
            <div class="panel-body">
              <div class="form-group-row">
                <label for="year">Jaartal</label>
                <select class="selectBox" id="year" [(ngModel)]="year" (ngModelChange)="changeSavingsYear($event)">
                  <option value="0">-</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <h3 class="card-title text-center">Details</h3>
              </div>
            </div>
            <div class="panel-body">
              <div>
                <table style="width:100%">
                  <tr>
                    <td style="width:50%">totaal gespaard = {{ totalSaved| number:'1.2-2':'be-BE' }}€</td>
                    <td>Easy save = {{ totalEasySave| number:'1.2-2':'be-BE' }}€</td>
                  </tr>
                  <tr>
                    <td>totaal opgenomen = {{ totalUsed| number:'1.2-2':'be-BE' }}€</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>saldo = {{ totalAmount| number:'1.2-2':'be-BE' }}€</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <h3 class="card-title text-center">Grafiek</h3>
              </div>
            </div>
            <div class="panel-body">
              <app-saving-graph [transactions]="transactions"></app-saving-graph>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <h3 class="card-title text-center">Transacties op de spaarrekening</h3>
              </div>
            </div>
            <div class="panel-body table-responsive">
              <app-transaction-list [importedFilteredTransactions]="importedFilteredTransactions"></app-transaction-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
