<div class="card my-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <h3 class="card-title text-center">Voer nieuwe transacties in</h3>
            </div>
          </div>
          <div class="panel-body">
            <div class="form-group-row">
              <label for="upload">Selecteer een bestand (PDF)</label>
              <input class="form-control" type="file" name="profile" id = "upload" placeholder="Upload file" accept=".pdf" (change)="onFileSelect($event)" />

              <div class ="card-button">
                <a (click)="upload()" class="btn"><i class="fa fa-plus-circle"></i> Transacties opladen</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <h3 class="card-title text-center">Info</h3>
            </div>
          </div>
          <div class="panel-body">
            <div>
              Saldo = {{ infoTxSaldo| number:'1.2-2':'be-BE' }}€
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-8">
                <div class="card-title text-center">
                  <h3 >{{ numberOfTransactions }} Onbewerkte transacties</h3>
                </div>
              </div>
              <div class="col-4">
                <div class ="card-button">
                  <a (click)="openNewTransactionForm()" class="btn"><i class="fa fa-plus-circle"></i> Voeg nieuwe transactie toe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body table-responsive">
            <table class = "table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Datum</th>
                  <th>Originele omschrijving</th>
                  <th>Bedrag</th>
                  <th>Categorie</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 5, currentPage: p }">
                  <td>{{ transaction.number }}</td>
                  <td>{{ transaction.date | date:'d/MM/yyyy' }}</td>
                  <td>{{ transaction.originalComment }}</td>
                  <td>{{ transaction.sign }} {{ transaction.amount }}€</td>
                  <td *ngIf="transaction.category">{{transaction.category.label}}</td><td *ngIf="!transaction.category"></td>
                  <td>
                    <ul class="action-list">
                      <li><a (click)="openFormModal(transaction)" class="btn btn-primary"><i class="fa fa-pencil"></i></a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-6">
                toon <b>5</b> van de <b>{{ numberOfTransactions }}</b> items
              </div>
              <div class="col-sm-6">
                <pagination-controls class="pagination"
                                     (pageChange)="p = $event"
                                     previousLabel=""
                                     nextLabel="">

                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
